<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h1>this is a homepage!!!</h1>
    <h2>1+2</h2>
    <h2><%= 1+2  %></h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos laboriosam impedit hic officiis eveniet, ratione dolores, similique error facilis magnam iusto, distinctio recusandae! Consequuntur neque suscipit rem iure sunt, vitae modi consectetur facilis? Ad perferendis id aliquid hic fugit repellat ratione, accusamus nulla, assumenda est itaque, libero incidunt sunt adipisci.</p>
    <button>click me</button>
</body>
</html>