<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a new post</title>
</head>
<body>
    <form method="POST" action="/posts">
        <input type="text" name="username" placeholder="username">
       <textarea placeholder="write your post" name="content"></textarea>
        <button type="submit">create post</button>
        

    </form>
    
</body>
</html>